<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.afoxplus.places">

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCMZFfeji6cTx1bn2tTVqAcq07Bbh2pEb0" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>